@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

@import '../lib/megatizerui.css';

@theme static {
	--color-brand-dark: var(--color-neutral-600);
	--color-brand-blue: var(--color-action-500);
	--color-brand-pink: var(--color-reaction-500);

	--color-bg-light: #f6f6f7;
	--color-bg-dark: #181818;
}

@custom-variant dark (&:where(.dark, .dark *));

html.light {
	color: var(--color-text-light);
	background-color: var(--color-bg-light);
}

html.dark {
	color: var(--color-text-dark);
	background-color: var(--color-bg-dark);
}

:root {
	font-family: 'IBM Plex Sans';
	font-optical-sizing: auto;
	font-variation-settings: 'wdth' 100;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--layout-max-width: 1440px;
	--sidebar-width: 272px;
	--z-index-sidebar: 60;
	--header-height: 64px;
	--sidebar-logo-shadow: drop-shadow(0 0 2rem var(--color-brand-blue));
}

#root {
	min-width: 100%;
	min-height: 100vh;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

.dev {
	border: 1px solid red;
}

.gradient-text-logo {
	background-image: linear-gradient(60deg, var(--color-brand-blue), var(--color-brand-pink));
	background-clip: text;
	color: transparent;
}

.sidebar-logo-shadow:hover {
	filter: drop-shadow(0 0 1em rgba(0, 148, 216, 0.5));
}

body {
	overflow-y: scroll;
}

html {
	scrollbar-gutter: stable;
}

*:focus-visible {
	outline: none;
}

* {
	@apply [&::-webkit-scrollbar]:my-4 [&::-webkit-scrollbar]:w-2;
	@apply [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full;

	@apply [&::-webkit-scrollbar-track]:bg-[#f3f4f6];
	@apply [&::-webkit-scrollbar-thumb]:bg-[#d1d5db];

	@apply dark:[&::-webkit-scrollbar-thumb]:bg-[#737373];
	@apply dark:[&::-webkit-scrollbar-track]:bg-[#404040];
}
